bin
preprocessor/effective.c
preprocessor/bfdata.c
preprocessor/bflabels.c
preprocessor/constpp.c
*.o
bfpp/bfpp
*.pyc
preprocessor/vxcall.c
os
hla/hla
hla/lex.yy.c
hla/parser.tab.c
hla/parser.tab.h
hla/parser.output
autom4te.cache/
Makefile
config.status
config.h
config.log
redpower/redpower.hex
redpower/redpower.img
redpower/kernel/kernel.b
redpower/kernel/kernel.p
etc/bfasm.b
preprocessor/bfdata
preprocessor/bflabels
preprocessor/constpp
preprocessor/effective
preprocessor/vxcall
attic/*
bfadbg/bfadbg
bfadbg/*.o
bfmake
lib-bfm/lib-bfm.lua
lib-bfm/lib-bfm-stub.lua
test/*.aout
test/*.c
test/*.bin
test/*.b

microcode/bfvm-prelude.h
